#new{

}

#filter{

}

.hidden{
  display: none;
}

#rating{

}

h1{

  background-color: red;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(83, 83, 148);
}